@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #333;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Theme Dark Mode */
.dark body {
  background-color: #1e1e2e;
  color: #ffffff;
}
